.search__ingredient,
.search__appliance,
.search__ustensil {
  display: none;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto auto;
  align-items: center;
}
.search__ingredient .search__tag,
.search__appliance .search__tag,
.search__ustensil .search__tag {
  grid-column: 1/span 2;
  grid-row: 2;
}
.search__ingredient input,
.search__appliance input,
.search__ustensil input {
  grid-column: 1;
  grid-row: 1;
}
.search__ingredient i,
.search__appliance i,
.search__ustensil i {
  grid-column: 2;
  grid-row: 1;
  justify-self: flex-end;
}

.btn__ingredient {
  background: #3282F7;
  border-radius: 5px;
  border: none;
  padding: 0px 24px;
  color: white;
  margin-bottom: 25px;
  height: 69px;
}

.btn__appliance {
  background: #68D9A4;
  border-radius: 5px;
  border: none;
  padding: 0px 24px;
  color: white;
  margin-bottom: 25px;
  height: 69px;
}

.btn__ustensil {
  background: #ED6454;
  border-radius: 5px;
  border: none;
  padding: 0px 24px;
  color: white;
  margin-bottom: 25px;
  height: 69px;
}

.search__ingredient {
  background: #3282F7;
  border-radius: 5px;
  border: none;
  padding: 0px 24px;
  color: white;
  margin-bottom: 25px;
}
.search__ingredient .search__input {
  background: #3282F7;
}

.search__appliance {
  background: #68D9A4;
  border-radius: 5px;
  border: none;
  padding: 0px 24px;
  color: white;
  margin-bottom: 25px;
}
.search__appliance .search__input {
  background: #68D9A4;
}

.search__ustensil {
  background: #ED6454;
  border-radius: 5px;
  border: none;
  padding: 0px 24px;
  color: white;
  margin-bottom: 25px;
}
.search__ustensil .search__input {
  background: #ED6454;
}

.search__input {
  width: 100%;
  border: none;
  padding: 24px;
  color: white;
  height: 69px;
}
.search__input ::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  opacity: 1;
}

.search__tag {
  flex-direction: column;
  width: 100%;
  border: none;
  padding: 24px;
  color: white;
}

.search__recipe {
  width: 100%;
  height: 69px;
  background: #E7E7E7;
  border-radius: 5px;
  border: none;
  padding: 24px;
  margin-bottom: 25px;
}
.search__recipe ::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  opacity: 0.25;
}

.card__Recipes a {
  background-color: #E7E7E7;
  aspect-ratio: 1/0.95;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1.5fr 2fr;
  outline: none;
  text-decoration: none;
}
.card__Recipes a span, .card__Recipes a div {
  color: black;
  text-decoration: none;
  font-family: "Lato";
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__Recipes a img {
  background: #C7BEBE;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  aspect-ratio: 1/0.43;
  border: none;
  outline: none;
  box-shadow: none;
  grid-column: 1;
  grid-row: 1;
}
.card__Recipes a .card__data {
  background-color: #E7E7E7;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 2fr 1fr 1fr;
  aspect-ratio: 1/0.52;
  padding: 15px;
}
.card__Recipes a .card__title {
  grid-column: 1/span 2;
  grid-row: 1;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.card__Recipes a .card__duration {
  grid-column: 3;
  grid-row: 1;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.card__Recipes a .card__ingredients {
  grid-column: 1;
  grid-row: 2;
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.card__Recipes a .card__recipe {
  grid-column: 2/span 3;
  grid-row: 2;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  height: 90%;
  color: #000000;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #D04F4F;
}
header form {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 0.05fr 1fr;
  grid-template-columns: auto auto auto;
}
header form .search__recipe {
  grid-column: 1/span 3;
  grid-row: 1;
}
header form .tag__container {
  grid-column: 1/span 3;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
header form .activeTag {
  height: 37px;
  background: #3282F7;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
header form .tag--ingredient {
  background: #3282F7;
}
header form .tag--appliance {
  background: #68D9A4;
}
header form .tag--ustensil {
  background: #ED6454;
}
header form .advencedSearch__ingredient__container,
header form .advencedSearch__appliance__container,
header form .advencedSearch__utensils__container {
  bottom: 200px;
}
header form .advencedSearch__ingredient__container {
  grid-column: 1;
  grid-row: 3;
}
header form .advencedSearch__appliance__container {
  grid-column: 2;
  grid-row: 3;
}
header form .advencedSearch__utensils__container {
  grid-column: 3;
  grid-row: 3;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

body {
  margin: 50px 100px;
}

/*# sourceMappingURL=style.css.map */
