
.card__Recipes a {
    background-color: #E7E7E7;
    aspect-ratio: 1/0.95;
    border-radius: 5px;
    display: grid ;
    grid-template-rows: 1.5fr 2fr;
    outline: none;
    text-decoration: none;
    
    span, div {
        color : black; 
        text-decoration: none;
        font-family: 'Lato';
        // overflow: hidden;
        // text-overflow: ellipsis;
    }
   
    .card__img {
        background: #C7BEBE;
        border-radius: 5px 5px 0px 0px;
        width: 100%;
        aspect-ratio: 1/0.43;
        border: none;
        outline: none;
        box-shadow: none;
        grid-column: 1;
        grid-row: 1;
    }

    .card__data {
        background-color: #E7E7E7;
        display: grid ;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 2fr 0.9fr 1.1fr;
        aspect-ratio: 1/0.52;
        padding: 15px;
    }

    .card__title{
        grid-column: 1 /span 2;
        grid-row: 1;

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        color: #000000;
    }
    .card__duration {
        grid-column: 3;
        grid-row: 1;

        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: end;

        color: #000000;
    }
    .card__ingredients {
        grid-column: 1;
        grid-row: 2;
        font-family: 'Lato';
        display :flex;
        flex-direction: column;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #000000;
    }
    .card__recipe {
        grid-column: 2 / span 3;
        grid-row: 2;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        height: 90%;

        color: #000000;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}