header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 47px;
        text-align: center;
        color: #D04F4F;
    }
    form {
       width: 100%;
       display: grid;
       grid-template-rows: 1fr .05fr 90px;
      
       .search__container {
          grid-row: 1;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
       }

       .tag__container {
        grid-row: 2;
        display: flex;
        flex-direction: row;
        gap: 20px;
         padding-bottom: 20px;
       }
       .activeTag {
        height: 37px;
        background: #3282F7;
        border-radius: 5px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 15px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;

       }
       .tag--ingredient{
            background: #3282F7;
       }
       .tag--appliance{
            background: #68D9A4;
       }
       .tag--ustensil {
            background: #ED6454;
       }
       .advencedSearch__wrap {
          width: 100%;
          display: flex;
          justify-content: space-between;
          gap: 30px;
          grid-row: 3;

       }
        .advencedSearch__container {
          bottom :200px;
            z-index: 1;
        }
        
    //    .advencedSearch__ingredient__container {
    //         grid-row: 3;
    //     }
        
    //     .advencedSearch__appliance__container {
    //         grid-row: 3;
    //     }
        
    //     .advencedSearch__utensils__container {
    //         grid-row: 3;
    //     }
   }   
}